@import "tailwindcss";

:root {
  --text: #ebebeb;
  --text-secondary: #6b6b6b;

  --primary: #462878;
  --background: #2d2a37;

  --gradient:
  180deg,
  rgba(0, 0, 0, 0.08) 0%,
  rgba(255, 255, 255, 0.04) 100%;

--gradient-hover:
  180deg,
  rgba(0, 0, 0, 0.03) 0%,
  rgba(255, 255, 255, 0.07) 100%;

--shadow:
  0px 4px 8px rgba(0, 0, 0, 0.18),
  0px 2px 3px rgba(0, 0, 0, 0.12),
  0px 1px 0px rgba(255, 255, 255, 0.04) inset;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;

  color: var(--text);

  background: linear-gradient(
    180deg,
    #807ece 0%,
    #8e7ece 100%
  );
}

.button-gradient {
  background-image: linear-gradient(var(--gradient));
}

.button-gradient:hover {
  background-image: linear-gradient(var(--gradient-hover));
}