@import "tailwindcss";

:root {
  --text: #ebebeb;
  --text-secondary: #6b6b6b;

  --primary: #462878;
  --background: #2d2a37;

  --gradient:
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%;

  --gradient-hover:
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 100%;

  --shadow:
    0px 11px 7px 0px rgba(0, 0, 0, 0.1),
    0px 7px 7px 0px rgba(0, 0, 0, 0.04),
    0px 4px 6px 0px rgba(0, 0, 0, 0.1),
    0px 2px 0px rgba(0, 0, 0, 0.26),
    0px 0px 2px 0px rgba(0, 0, 0, 0.29),
    0px 2px 3px 0px rgba(255, 255, 255, 0.06) inset;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;

  color: var(--text);

  background: linear-gradient(
    180deg,
    #807ece 0%,
    #8e7ece 100%
  );
}

.button-gradient {
  background-image: linear-gradient(var(--gradient));
}

.button-gradient:hover {
  background-image: linear-gradient(var(--gradient-hover));
}